@use "/src/utils/styles/colors.scss";

@keyframes animatebtn1 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes animatebtn2 {
  0% {
    opacity: 0;
    left: -200%;
  }
  50% {
    opacity: 1;
    left: 100;
  }
  100% {
    opacity: 0;
    left: 150%;
  }
}

@mixin animate-button {
  .particles {
    --active: 1;
    --play-state: running;
  }
  .background {
    -webkit-box-shadow: 0 0 30px 5px rgba(255, 59, 108, 0.291);
    -moz-box-shadow: 0 0 30px 5px rgba(255, 59, 108, 0.291);
    box-shadow: 0 0 30px 5px rgba(255, 59, 108, 0.291);
    color: #ffe8ee;
    border: 2px solid #f8386e70;
  }
  .lightbtn1,
  .lightbtn2 {
    filter: brightness(2);
  }
}

.main {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  gap: 5px;
  width: fit-content;
  border-radius: 20px;
  padding: 10px 15px 10px 20px;
  color: #f4dae1;
  font-weight: 500;
  font-size: 13px;
  border: none;
  transition: 0.3s all ease-in-out;
  .background {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;
  }
  .lightbtn1 {
    content: "";
    top: -10px;
    left: -40px;
    position: absolute;
    background: radial-gradient(
      rgba(190, 18, 61, 0.8),
      rgba(159, 18, 58, 0.1),
      transparent
    );
    transform: translateZ(0);
    width: 200px;
    height: 150px;
    z-index: -1;
    animation: animatebtn1 10s infinite;
  }
  .lightbtn2 {
    content: "";
    top: -30px;
    left: -40px;
    position: absolute;
    background: radial-gradient(
      rgba(159, 18, 58, 0.6),
      rgba(159, 18, 58, 0.078),
      transparent
    );
    transform: translateZ(0);
    width: 200px;
    height: 150px;
    z-index: -1;
    animation: animatebtn2 15s infinite;
  }
  &:hover {
    @include animate-button;
  }
}

.particles {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: var(--active, 0);
  pointer-events: none;
  transition: 0.2s all ease-in-out;
}

.particle {
  position: absolute;
  border-radius: 100%;
  width: 2px;
  height: 2px;
  background-color: colors.$sky-50;
  width: calc(var(--size) * 7px);
  height: calc(var(--size) * 7px);
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  opacity: var(--alpha);
  -webkit-animation: float-out calc(var(--duration) * 1s)
    calc(var(--delay) * -1s) infinite linear;
  animation: float-out calc(var(--duration) * 1s) calc(var(--delay) * -1s)
    infinite linear;
  transform-origin: var(--originX) var(--originY);
  -webkit-animation-play-state: var(--play-state, paused);
  animation-play-state: var(--play-state, paused);
  @keyframes float-out {
    to {
      rotate: 360deg;
    }
  }
}
