@use "/src/utils/styles/colors.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 40px;
    width: 100%;
    .form {
      display: flex;
      flex-direction: column;
      width: 55%;
      .formCard {
        > div {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 40px;
          .formTitle {
            font-size: 50px;
            font-weight: 600;
            color: colors.$sky-200;
            margin: 0;
            margin-bottom: 20px;
          }
          .inputWrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 45%;
      .infoCard {
        width: fit-content;
        .infoCardBody {
          > div {
            display: flex;
            align-items: center;
            gap: 10px;
            width: fit-content;
            padding: 10px 20px;
            padding-right: 40px;
            .infoIcon {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #0b1624;
              color: colors.$sky-200;
              aspect-ratio: 1/1;
              width: 60px;
              height: 60px;
              border-radius: 15px;
              opacity: 0.7;
              transition: 0.3s opacity ease-in-out;
            }
            .infoContent {
              display: flex;
              flex-direction: column;
              opacity: 0.7;
              transition: 0.3s opacity ease-in-out;
              .infoLabel {
                font-size: 13px;
                font-weight: 500;
                color: colors.$sky-200;
                margin: 0;
                opacity: 0.75;
              }
              .infoValue {
                font-size: 16px;
                font-weight: 500;
                color: colors.$sky-200;
                margin: 0;
              }
            }
            &:hover {
              .infoIcon,
              .infoContent {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
