@use "/src/utils/styles/colors.scss";
@use "/src/utils/styles/media-screen.scss";

.main {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -20px;
    top: -20px;
    padding-top: 20px;
    width: calc(100% + 40px);
    border-radius: 0;
    height: 80px;
    z-index: 100;
    &::before,
    &::after {
      border-radius: 0;
    }
    > div {
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      width: 100%;
      width: calc(100% - 80px);
      @include media-screen.breakpoint-xl {
        width: 100%;
        max-width: calc(1200px - 80px);
      }
      .logo {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        color: colors.$sky-200;
        position: relative;
        @include media-screen.breakpoint-xl {
          font-size: 25px;
        }
        .name {
          &::after {
            content: "";
            position: absolute;
            display: flex;
            right: -8px;
            top: 20px;
            width: 6px;
            height: 6px;
            min-width: 6px;
            min-height: 6px;
            border-radius: 100%;
            background-color: colors.$sky-500;
            @include media-screen.breakpoint-xl {
              right: -11px;
              top: 22px;
              width: 7px;
              height: 7px;
              min-width: 7px;
              min-height: 7px;
            }
          }
        }
        .dot {
          right: -11px;
          top: 22px;
          width: 7px;
          height: 7px;
          min-width: 7px;
          min-height: 7px;
          border-radius: 100%;
          background-color: colors.$sky-500;
        }
      }
      .rightItems {
        display: flex;
        gap: 20px;
        align-items: center;
        .btnResume {
          color: colors.$sky-300;
          background-color: #0ea4e932;
          &:hover {
            color: colors.$sky-100;
            background-color: colors.$sky-600;
          }
        }
        .menu {
          display: none;
          gap: 20px;
          @include media-screen.breakpoint-md {
            display: flex;
          }
          .menuItem {
            display: flex;
            align-items: center;
            list-style-type: none;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 5px;
            border-radius: 5px;
            position: relative;
            color: #bfdbfe98;
            transition: 0.3s all ease-in-out;
            &::before {
              content: "";
              display: flex;
              position: relative;
              left: -5px;
              width: 5px;
              height: 5px;
              min-width: 5px;
              min-height: 5px;
              border-radius: 100%;
              background-color: colors.$sky-300;
              opacity: 0;
            }
            &:hover {
              color: colors.$sky-100;
              &::after {
                opacity: 0.2;
              }
            }
            &.active {
              color: colors.$sky-300;
              cursor: default;
              &::before {
                opacity: 1;
              }
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
        .mobileMenu {
          background-color: #0d1a2c;
          border-radius: 10px;
          padding: 6px 8px;
          border: none;
          outline: none;
          cursor: pointer;
          border: 1.5px solid transparent;
          color: colors.$sky-200;
          transition: 0.3s all ease-in-out;
          @include media-screen.breakpoint-md {
            display: none;
          }
          &:hover {
            background-color: #13243b;
            box-shadow: 0 0 1px 2px colors.$sky-600;
          }
          > svg {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
