@use "/src/utils/styles/colors.scss";

.DialogOverlay {
  position: fixed;
  inset: 0;
  background-color: #050a0de2;
  z-index: 10000;
}

.DialogOverlay[data-state="open"] {
  animation: overlayShow 150ms ease-in-out;
}
.DialogOverlay[data-state="closed"] {
  animation: overlayHide 150ms ease-in-out;
}

.DialogContent {
  border: 1.5px solid #4d627d;
  background-color: #070d16;
  border-radius: 15px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  z-index: 10001;
}
.DialogContent[data-state="open"] {
  animation: contentShow 150ms ease-in-out;
}

.DialogContent[data-state="closed"] {
  animation: contentHide 150ms ease-in-out;
}

.DialogContent:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  .dialogHeader {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: colors.$red-400;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover {
      background-color: colors.$red-600;
      color: colors.$red-100;
    }
  }
  .dialogTitle {
    font-size: 30px;
    font-weight: 700;
    color: colors.$sky-200;
  }
  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .buttonWrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
